/* game board table */
body {
	background-color: wheat;
}
#title {
	display: flex;
	justify-content: center;
}

#game {
	display: flex;
	justify-content: center;
}

#board td {
	width: 50px;
	height: 50px;
	border: solid 1px #666;
	position: relative;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
	margin: 5px;
	width: 80%;
	height: 80%;
	border: 3px;
	border-radius: 20px;
	position: absolute;
	top: -400px;
	left: 0;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.p1 {
	background-color: red;
}
.p2 {
	background-color: blue;
}
td {
	border-radius: 5px;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
	border: dashed 1px lightgray;
}

#column-top td:hover {
	background-color: gold;
}
